@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
.material-switch > input[type="checkbox"] {
    display: none;
}
.todo{
  font-family: 'Roboto';
}
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.sample-show-hide {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.sample-show-hide {
  transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity: 0;
}


/* Button */
   .button {
     display: inline-block;
     position: relative;
     width: 120px;
     height: 32px;
     line-height: 32px;
     border-radius: 2px;
     font-size: 0.9em;
     background-color: #fff;
     color: #646464;
   }

   .button > paper-ripple {
     border-radius: 2px;
     overflow: hidden;
   }

   .button.narrow {
     width: 60px;
   }

   .button.grey {
     background-color: #eee;
   }

   .button.blue {
     background-color: #4285f4;
     color: #fff;
   }

   .button.green {
     background-color: #0f9d58;
     color: #fff;
   }

   .button.raised {
     transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
     transition-delay: 0.2s;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   }

   .button.raised:active {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
     transition-delay: 0s;
   }

   /* Icon Button */
   .icon-button {
     position: relative;
     display: inline-block;
     width: 56px;
     height: 56px;
   }

   .icon-button > core-icon {
     margin: 16px;
     transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
     transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   }

   .icon-button:hover > core-icon {
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
   }

   .icon-button > paper-ripple {
     overflow: hidden;
     color: #646464;
   }

   .icon-button.red > core-icon::shadow path {
     fill: #db4437;
   }

   .icon-button.red > paper-ripple {
     color: #db4437;
   }

   .icon-button.blue > core-icon::shadow path {
     fill: #4285f4;
   }

   .icon-button.blue > paper-ripple {
     color: #4285f4;
   }
   /* Misc */
   .center {
     text-align: center;
   }
