<div class="col-lg-8 col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">TODO List</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="item in list" ng-show="!item.completed">
                    <div class="row-action-primary checkbox">
                        <label>
                            <input id="{{item.id}}" checklist-model="selected" checklist-value="item.id" type="checkbox">
                            <span class="checkbox-material">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">{{item.title}}
                          <a class="btn btn-success pull-right fa fa-check btn-xs" title="Complete task" ng-click="complete(item.id)"> </a>
                        </h4>
                        <p class="list-group-item-text">{{getUser(item.userId)}}</p>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Help</h3>
        </div>
        <div class="panel-body">
            <div class="bs-component">
                <h2>How to use</h2
                <p>
                You can select the tasks to complete and then click the button "completed selected". You can also complete each task by clicking the button
                  <br> Complete button: <a class="btn btn-success pull-right fa fa-check btn-xs" title="Complete task"> </a>
                </p>
                <a class="btn btn-raised btn-primary" ng-click="clear()">Complete selected<div class="ripple-container"></div></a>
            </div>
        </div>
    </div>
</div>
